@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <br />

    <p class="fade-in">
        This web page has been served to you by
        <a href="https://docs.microsoft.com/en-us/aspnet/core/introduction-to-aspnet-core?view=aspnetcore-3.1#:~:text=ASP.NET%20Core%20is%20a,Windows%2C%20macOS%2C%20and%20Linux.">
            ASP.NET Core web application
        </a> which is hosted on
        <a href="https://aws.amazon.com/elasticbeanstalk/">Amazon Elastic Beanstalk</a> cloud service.
        Application structure has been generated with Visual Studio MVC Web Application template. Then the web application has been developed to have animations on this welcome-page and contain a real time chat feature on a seperate view.

    <p class="fade-in">Click <a href="/Home/Chat">here</a> to see the real time chat feature.</p>

    <p class="fade-in">Web application sourcecode is available <a href="https://github.com/EetuHernesniemi/real-time-asp-net-core-demo">here</a>.</p>

    <p class="fade-in">Cheers - Eetu</p>



    <img src="~/mustassa_paidassa.jpg" alt="Image" class="fly-in-image">




</div>
